<div class="container w-75 text-center">
  <h6>Los numeros naturales perfectos que hay en el rango del <%= @interval.minimum %> al <%= @interval.maximum %> son <%= @naturales.length %> y son:</h2>
  <ul class="list-unstyled">
    <% @naturales.each do |numero| %>
      <li><%= numero %></li>
    <% end %>
  </ul>
  <%= link_to 'Probar de nuevo', again_path, class: "btn btn-primary" %>
</div>
