<%# Esta es la vista asociada al método result del intervals
controller y muesra los resultados y permite probar de nuevo%>
<div class="container w-75 text-center">
  <h6>Los numeros naturales perfectos que hay en el rango del <%= @interval.minimum %> al <%= @interval.maximum %> son <%= @interval.results.length %> y son:</h2>
  <ul class="list-unstyled">
    <% @interval.results.each do |result| %>
      <li><%= result %></li>
    <% end %>
  </ul>
  <%= link_to 'Probar de nuevo', again_path, class: "btn btn-primary" %>
</div>
