<!DOCTYPE html>
<html>
  <head>
    <title>NaturalesPerfectos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="background-size: cover; background-repeat: no-repeat; background-image: url('https://images.unsplash.com/photo-1635070041078-e363dbe005cb?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); min-height: 100vh;" class="d-flex flex-column align-items-center justify-content-center text-light">
    <div class="mb-2">App hecha con <i class="fa-solid fa-heart text-danger"></i></div>
    <div class="w-25 border b-white rounded p-4" style="background: transparent; backdrop-filter: blur(10px);">
      <%= yield %>
    </div>
  </body>
</html>
